/*---[ Common ]-----------------------*/

.page_toc{
    background: #f2f2f2;
}
body[data-page='README.md'] .app-nav, body[data-page='README.md'] .docsify-pagination-container{
    display: none;
}
body[data-page='README.md'] p{
    text-align: center;
}
body[data-page='README.md'] li{
    list-style: none;
}
body[data-page='README.md'] li:nth-child(1){
    display: none;
}
